body{
    background-color: rgb(237, 240, 216);
    text-align: justify;
    font-family: 'JetBrains Mono', monospace;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 40%;
}